# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Дані — не пушимо в GitHub
data/processed/
*.db

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml